/*header*/
:root {
  --primary-blue: #0A66C2;
  --secoundary-blue: #004896;
  --gray-background: #e8eaf6;
  --card-background: #ffffff;
  --window-background: #f4f7fb;
  --border-color: #e6e6e6;
  --font-color-primary: rgba(0, 0, 0, 0.9);
  --font-color-secondary: rgba(0, 0, 0, 0.6);
  --navbar-blue: rgb(25, 49, 172);
  --title-blue: rgb(25, 49, 172);

}

.header {
  background: var(--navbar-blue);
  color: white;
  padding: 15px 0;
  top: 0;
  width: 100%;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  z-index: 3;
  position: fixed;
}

.header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1128px;
  margin: auto;
  flex-wrap: wrap;
  gap: 10px;

}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.logo-text {
  color: white;
  font-size: 24px;
  font-weight: bold;
}


/* navbar */

.menu {
  list-style: none;
  display: flex;
  gap: 5px;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 10px;
  display: block;
  border-radius: 5px;
  transition: background 0.2s, transform 0.2s, box-shadow 0.2s;
}

.menu li a:hover,
.menu li a.active {
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4));
  transform: scale(1.02);
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
}




nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown-container {
  position: relative;
}

.dropdown-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 5px;
  transition: background 0.2s, transform 0.2s, box-shadow 0.2s;
}

.dropdown-btn:hover {
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4));
  transform: scale(1.02);
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--navbar-blue);
  list-style: none;
  padding: 10px 0;
  /* top: calc(100% + 32px);*/
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 10;
  margin: 0;
}

.dropdown-menu li a {
  display: block;
  padding: 8px 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: background 0.3s;
}

.dropdown-menu li a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.dropdown-container:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li:last-child::before {
  content: "";
  display: inline-block;
  width: 130px;
  height: 1px;
  background: white;
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: middle;
}